body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
}

#header {
    justify-content: center;
    background-color: rgba(100, 182, 237, 0.519);
    padding: 40px;
    display: flex;
}

#container {
    background-color: rgba(182, 226, 255, 0.428);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
}

#content {
    padding: 10px;
}

#headtext {
    color: #134463ef;
    font-size: 35px;
    width: 65%;
    margin: auto;
}

#nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.navlink {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
    background-color: rgba(100, 182, 237, 0.519);
    border: 5px solid #134463ef;
    border-radius: 20px;
    width: 25%;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #134463ef;
    /* box-sizing: border-box;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: coral;
    width: 35%;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    color: white; */

}

.navlink:hover {
    background-color: rgba(142, 204, 246, 0.519);
    ;
}

#footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: rgba(100, 182, 237, 0.519);
}

#goodexample {
    text-align: center;
}

#badexample {
    text-align: center;
}

#report {
    font-size: 18px;
    margin: 20px;
    padding: 30px;
    background-color: white;
}

@media (max-width: 768px) {
    #nav {
        flex-direction: column;
        /* Stacks navigation links on smaller screens */
        align-items: center;
    }

    .navlink {
        width: 80%;
        /* Makes buttons smaller and centered */
    }
}